/**
 *	@module			pw_generator
 *	@version		see info.php of this module
 *	@author			cms-lab
 *	@copyright		2016-2023 cms-lab
 *	@license		copyright, all rights reserved
 *	@license_terms	please see info.php of this module 
 *	@platform		see info.php of this module
 */

.pw_generator {
	margin: 0 auto !important;
	max-width: 600px;
} 
 
.spacer4 {
	width: 100%;
	height:40px;
} 
.spacer2 {
	width: 100%;
	height:20px;
} 

/* fix for algos theme */
 .ui.basic.button.blank  {
	border: 0px !important;
	box-shadow: none !important;
	margin: 0px !important;
	padding: 0px !important;	
}

.info {
	padding-left: 0;
	background: none;
}
